.goods-param {
  padding: 20px 15px;
  font-size: 14px;
  border-bottom: 5px solid #f2f5f8;
}
.goods-param table {
  width: 100%;
  border-collapse: collapse;
}
.goods-param table tr {
  height: 42px;
}
.goods-param table tr td {
  border-bottom: 1px solid rgba(100,100,100,.1);
}
.info-param {
  border-top: 1px solid rgba(0,0,0,.1);
}
.info-param-key {
  width: 95px;
}
.param-value {
  color: #eb4868;
}
.info-img img {
  width: 100%;
}
